{# https://fullcalendar.io/docs#toc #}
{# https://www.oscarperez.es/abrir-y-cerrar-ventanas-modales-en-bootstrap-con-javascript/ #}

{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}

<div class="modal fade" tabindex="-1" id="eventModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-id" style="display: none;"></h5>
              <input type="text" class="modal-title form-control-lg w-100" name="title">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ trans('close') }}"></button>
            </div>
            <div class="modal-body">
              <table>
                <tr>
                  <td style="vertical-align: top; width: 50px;"><i class="fa-solid fa-user fa-lg ms-3" aria-hidden="true"></i></td>
                  <td style="vertical-align: bottom;"><h5 class="modal-contact"></h5></td>
                </tr>
              </table>
              <div class="row">
                  <div class="col-sm">
                      <div class="mb-3">
                          <label>Desde</label>
                          <input type="date" class="modal-startDate  form-control" name="startdate" maxlength="100">
                          <input type="time" class="modal-startTime  form-control" name="starttime" maxlength="100"> 
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="mb-3">
                          <label>Hasta</label>
                          <input type="date" class="modal-endDate  form-control" name="enddate" maxlength="100">
                          <input type="time" class="modal-endTime  form-control" name="endtime" maxlength="100"> 
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg"
                        data-bs-dismiss="modal">{{ trans('cancel') }}</button>
                <button type="button" class="btn btn-success btn-lg btn-spin-action"
                        onclick="return saveEvent()">{{ trans('save') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="calendar"></div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src='Plugins/IeCRMCalendar/Assets/JS/index.global.js'></script>
<script src='Plugins/IeCRMCalendar/Assets/JS/es.global.js'></script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      
      schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',

      {% if settings('calendar', 'language') == 'es' %}
        locale: 'es',
      {% endif %}   
      
      height: 805,

      editable: true,
      aspectRatio: 1.8,
      scrollTime: '00:00',
      slotMinTime: '{{ settings('calendar', 'timetostart', '07:00:00') }}',
      slotMaxTime: '{{ settings('calendar', 'timetoend', '20:00:00') }}',
      allDaySlot: false,

      {% if settings('calendar', 'weekend') == 'no' %}
        hiddenDays: [ 0, 6 ],
      {% endif %}
      
      headerToolbar: {
        left: 'promptResource today prev,next',
        center: 'title',
        right: 'dayGridDay,timeGridWeek,dayGridMonth'
      },
      
      customButtons: {
        promptResource: {
          text: '+ Event',
          click: function() {
            window.open( '{{ asset('EditCrmNota') }}');
          }
        }
      },
     
      initialView: '{{ settings('calendar', 'view', 'dayGridMonth') }}',

      events: [
        {% for note in fsc.notes %}
          {
            id: "{{ note.id }}",
            title: '{{ note.observaciones | e('js') }}',
            start: '{{ note.start | date("Y-m-d H:i:s") }}',
            end: '{{ note.end | date("Y-m-d H:i:s") }}',
            extendedProps: {
              contact: '{{ note.getContact().nombre }}'
            } 
          },
        {% endfor %}
      ],

      eventContent: function(info) {
        var eventTitle = info.event.title;
        var contact = info.event.extendedProps.contact;

        var content = document.createElement('div');
        
        if (contact){
          content.textContent = '[' + contact.substring(0,12) + '] ' + eventTitle.substring(0,12);
        }else{
          content.textContent = eventTitle;
        }

        return { domNodes: [content] };
      },

      dateClick: function(date) {
        var startAll = new Date(date.dateStr);
        var startDay = startAll.toISOString().split('T')[0];
        var startTime = startAll.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit' });

        //se los paso al modal
        $('#eventModal').find('.modal-id').text('');
        $('#eventModal').find('.modal-title').val('');
        $('#eventModal').find('.modal-contact').text('');
        $('#eventModal').find('.modal-startDate').val(startDay);
        $('#eventModal').find('.modal-endDate').val(startDay);
        $('#eventModal').find('.modal-startTime').val(startTime);
        $('#eventModal').find('.modal-endTime').val('');
        
        var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
        eventModal.show();
      },

      eventClick: function (calEvent) {
        
        //saco a variables los datos
        var eventId = calEvent.event.id;
        var eventTitle = calEvent.event.title;
        var eventContact = calEvent.event.extendedProps.contact;
        var eventStart = calEvent.event.start;
        var eventEnd = calEvent.event.end;

        //los formateo a fecha y hora
        var startDateFormatted = eventStart.toISOString().split('T')[0];
        var endDateFormatted = eventEnd.toISOString().split('T')[0];
        var startTimeFormatted = eventStart.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        var endTimeFormatted = eventEnd.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

        {# $('#eventModal').find('.modal-title').text(eventTitle); #}

        //se los paso al modal
        $('#eventModal').find('.modal-id').text(eventId);
        $('#eventModal').find('.modal-title').val(eventTitle);
        $('#eventModal').find('.modal-contact').text(eventContact);
        $('#eventModal').find('.modal-startDate').val(startDateFormatted);
        $('#eventModal').find('.modal-endDate').val(endDateFormatted);
        $('#eventModal').find('.modal-startTime').val(startTimeFormatted);
        $('#eventModal').find('.modal-endTime').val(endTimeFormatted);
        
        var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
        eventModal.show();
      },

      eventDrop: function(info){
        resizeOrDrop(info);
        calendar.refetchEvents()
      },

      eventResize: function(info){
        resizeOrDrop(info);
        calendar.refetchEvents()
      },

    });

    calendar.render();
  });

  function resizeOrDrop(info){
    var eventId = info.event.id;
    var eventTitle = info.event.title;
    var newStart = info.event.start;
    var newEnd = info.event.end;

    var startDateFormatted = newStart.toISOString().split('T')[0];
    var startTimeFormatted = newStart.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
    var endDateFormatted = newEnd.toISOString().split('T')[0];
    var endTimeFormatted = newEnd.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

    var formData = new FormData();
    formData.append('id', eventId);
    formData.append('title', eventTitle);
    formData.append('startDate', startDateFormatted);
    formData.append('startTime', startTimeFormatted);
    formData.append('endDate', endDateFormatted);
    formData.append('endTime', endTimeFormatted);
    sendForm(formData, 'updateEvent');

    console.log(formData);

  }

  function saveEvent() {

    var modalTitleValue = $('#eventModal .modal-title').val();
    var modalStartDateValue = $('#eventModal .modal-startDate').val();
    var modalStartTimeValue = $('#eventModal .modal-startTime').val();
    var modalEndDateValue = $('#eventModal .modal-endDate').val();
    var modalEndTimeValue = $('#eventModal .modal-endTime').val();

    if (modalTitleValue === null || modalTitleValue === '') {
      $('#eventModal .modal-title').val('My Event');
    }

    if (modalStartDateValue === null || modalStartDateValue === '') {
      alert('Falta fecha de inicio.');
      return;
    }

    if (modalStartTimeValue === null || modalStartDateValue === '') {
      $('#eventModal .modal-startTime').val('07:00');
    }

    if (modalEndDateValue === null || modalEndDateValue === '') {
      $('#eventModal .modal-endDate').val(modalStartDateValue);
    }

    if (modalEndTimeValue === null || modalEndTimeValue === '') {
      var startTimeValue = $('#eventModal .modal-startTime').val();
      var startTime = new Date('1970-01-01T' + startTimeValue);
      startTime.setHours(startTime.getHours() + 1);
      var newStartTimeValue = startTime.toTimeString().substring(0, 8);
      $('#eventModal .modal-endTime').val(newStartTimeValue);
    }

    if (modalStartDateValue > modalEndDateValue){
      alert('La fecha de inicio no puede ser posterior a la fecha de fin');
      return;
    }else if(modalStartDateValue === modalEndDateValue && modalStartTimeValue >= modalEndTimeValue && modalEndTimeValue !=null && modalEndTimeValue !=''){
      alert('La hora de inicio no puede ser posterior a la hora de fin');
      return;
    }

    var formData = new FormData();
    formData.append('id', $('#eventModal .modal-id').html());
    formData.append('title', $('#eventModal .modal-title').val());
    formData.append('startDate', $('#eventModal .modal-startDate').val());
    formData.append('startTime', $('#eventModal .modal-startTime').val());
    formData.append('endDate', $('#eventModal .modal-endDate').val());
    formData.append('endTime', $('#eventModal .modal-endTime').val());
    sendForm(formData, 'saveEvent');

  }

  function sendForm(formData, action) { //código de Dani
    animateSpinner('add');

    formData.append('action', action);
    formData.append('ajax', true);

    fetch('{{ fsc.url() }}', {
        method: 'POST',
        body: formData
    }).then(function (response) {
        animateSpinner('remove', true);
        if (response.ok) {
            return response.json();
        }
        return Promise.reject(response);
    }).then(function (data) {
        // AQUI TU CODIGO DE RESPUESTA
        if(data.saveEvent){
          location.reload();
        }

        // si hay mensajes de error
        if (data.messages) {
            data.messages.forEach(function (msg) {
                var txt = msg.message;

                try {
                    // formateamos el json
                    var obj = JSON.parse(msg.message.replace(/&quot;/g, '"'));

                    // obtenemos un string del json
                    txt = JSON.stringify(obj);
                } catch (e) {
                    // JSON parse error, this is not json (or JSON isn't in your browser)
                }

                // creamos un alert con el mensaje
                alert(txt);
            });
        }

        animateSpinner('remove');
    }).catch(function (error) {
        alert('error');
        console.warn(error);
        animateSpinner('remove', false);
        return false;
    });
    return true;
  }

</script>

{% endblock %}
